{{- $cover := default nil .Params.cover }}
{{- $thumb := $cover.src | default (printf "%s." $cover.thumb | replace $cover.link ".") }}

<li class="item">
  <article
    {{ if ne $cover nil }}
      style="background-image: url('{{ print .Site.BaseURL $thumb }}')"
    {{ end }}
  >

    {{ if ne $cover nil }}
      <img
        itemprop="thumbnail"
        src="{{ $thumb }}"

        {{ with $cover.alt | default $cover.caption }}
          alt="{{ . }}"
        {{ end }}
      />
    {{ end }}

    <div class="title-content">
      <header>
        <h2>{{ .Title }}</h2>
        {{ partial "facts" . }}
      </header>

        {{ if isset .Params "description" }}
          <p>{{ .Params.description }}</p>
        {{ end }}

        {{ if not (or (isset .Params "description") .Params.nonpost) }}
          <p>{{ .Summary | truncate 140 }}</p>
        {{ end }}
    </div>

    {{ if ne $cover nil }}
      <div class="color-overlay"></div>
    {{ end }}

    <a itemprop="contentUrl" href="{{ .Permalink }}"></a>
  </article>
</li>
