{{- $cover := default nil .Params.cover }}
{{- $dir := cond ($cover.absolute | default false) "" $.Dir }}
{{- $thumb := print $dir (cond (ne $cover.src nil) $cover.src (printf "%s." $cover.thumb | replace $cover.link ".")) | absURL }}

<li class="item">
  <article
    {{ if ne $cover nil }}
      data-css-background-image="url({{ $thumb }})"
    {{ end }}
  >

    {{ if ne $cover nil }}
      <img
        itemprop="thumbnail"
        src="{{ $thumb }}"

        {{ with $cover.alt | default $cover.caption }}
          alt="{{ . }}"
        {{ end }}
      />
    {{ end }}

    <div class="title-content">
      <header>
        <h2>{{ .Title }}</h2>
        {{ partial "facts" . }}
      </header>

        {{ if isset .Params "description" }}
          <p>{{ .Params.description }}</p>
        {{ end }}

        {{ if not (or (isset .Params "description") .Params.nonpost) }}
          <p>{{ .Summary | truncate 140 }}</p>
        {{ end }}
    </div>

    <a itemprop="contentUrl" href="{{ .Permalink }}"></a>
  </article>
</li>
