{{ define "main" }}
  <main>
    <article class="single">
      <header>
        {{ partial "breadcrumb.html" . }}
        {{ partial "tags.html" . }}

        {{ if and (isset .Params "cover") (.Params.cover.show | default true) }}
          {{ partial "cover.html" . }}
        {{ end }}

        <h1>{{ .Title }}</h1>

        {{ if .Section }}
          {{ partial "facts" . }}
        {{ end }}
      </header>

      {{ .Content }}
    </article>
  </main>
  {{ partial "photoswipe.html" . }}
{{ end }}
