body {
  > div {
    flex-grow: 1;
  }
}

main {
  flex-grow: 1;
}

body {
  > header, > footer {
    flex: none;
  }

  > div {
    flex: 1 0 auto;
  }
}

nav.top {
  flex-grow: 1;
}

.item {
  flex: 0 0 33%;
}

.gallery .lightbox {
  flex: 0 0 33%;
}

@media (max-width: 1200px) {
  .item {
    flex: 0 0 50%;
  }

  .gallery .lightbox {
    flex: 0 0 50%;
  }
}

@media (max-width: 768px) {
  .item {
    flex: 0 0 100%;
  }

  .gallery .lightbox {
    flex: 0 0 100%;
  }
}
