{{ with .Params.cover }}
  {{- $dir := cond (.absolute | default false) "" $.Dir }}
  {{- $url := print $dir (.link | default .src) | absURL }}
  {{- $thumb := cond (isset . "src") (print $dir .src | absURL) (printf "%s." .thumb | replace $url ".") }}

  <div class="lightbox">
    <figure
      itemprop="associatedMedia"
      itemscope
      itemtype="http://schema.org/ImageObject"

      class="
        {{ if .nophotoswipe }}
          no-photoswipe
        {{ end }}
      "

      {{ with .width }}
        style="max-width: {{ . }}"
      {{ end }}
    >

      <img
        itemprop="thumbnail"
        src="{{ $thumb }}"

        {{ with .alt | default .caption }}
          alt="{{ . }}"
        {{ end }}
      />

      <a
        href="{{ $url }}"

        {{ with .size }}
          data-size="{{ . }}"
        {{ end }}

        itemprop="contentUrl"
      > </a>

      {{- if or .caption .attr }}
        <figcaption>
          <p>
            {{- .caption -}}

            {{- with .attrlink }}
              <a href="{{ . }}">{{ .attr }}</a>
            {{ else }}
              {{ .attr }}
            {{ end -}}
          </p>
        </figcaption>
      {{- end }}
    </figure>
  </div>
{{ end }}
